.container-fluid {
  max-width: 1200px;
}

.display-4 {
  font-weight: 300;
  font-size: calc(1.65rem + 2vw);
}

.display-5 {
  font-weight: 300;
  font-size: calc(1.4rem + 1vw);
}

#jumbotron-bg {
  background-image: url("./images/jumbotron.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#jumbotron-content {
  background-color: rgba(243, 243, 243, 1);
  padding: 1rem 0.75rem;
  max-width: 90%;
}

#arrow-down {
  position: relative;
}

body {
  background-color: rgba(243,243,243,1);
  /* background: linear-gradient(90deg, royalblue, cornflowerblue); */
  position: relative;
  min-height: 100vh;
}

main > section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.white-area {
  background-color: #fff;
}

#forms {
  margin-bottom: 1.5rem;
}

input[type=text] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 200px;
}

footer {
  background-color: rgba(16,16,16,1);
  text-align: center;
  padding: 1rem;
  color: #ccc;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}




@media screen and (min-width: 230px) {
  
  

}


@media screen and (min-width: 500px) {

  input[type=text] {
    width: 100%;
  }

  #forms {
    margin-bottom: 0;
  }

}


@media screen and (min-width: 576px) {



}


@media screen and (min-width: 768px) {

  

}




